<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">

<div id="polls_div">
    {% if latest_question_list %}
        <h1>Polls</h1>
        <ul id="test">
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {{ question.status }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <form action="{% url 'polls:submit' %}">
        <input type="submit" value="New Poll">
    </form>
</div>

<script type="text/javascript">
    setTimeout(function(){
    $('#polls_div').load("{% url 'polls:index' %}");
    }, 5000) /* time in milliseconds (ie 2 seconds)*/
</script>
